.badge {
  /* max-width: 9rem; */
  padding: 0.3rem 0.5rem;
  border-radius: 0.25rem;
  text-align: center;
  text-transform: capitalize;
  color: white;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
}
