.container404 {
  display: grid;
  place-content: center;
  justify-items: center;
  height: 100dvh;
  gap: 1rem;
}

.container404 .icon {
  width: 14rem;
  height: 14rem;
}

.container404 .text {
  color: var(--black, #000);
  font-size: 2rem;
  font-weight: 600;
}

.container404 .link {
  margin: 0;
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
}
