:root {
  --input-default-state-border: 0.063rem solid var(--gray-200, #e5e7eb);
  --input-focus-state-border: 0.094rem solid var(--default-theme-color);
  --input-border-radius: 0.375rem;
  --input-padding: 0.75rem 1rem;
  --input-height: 2.5rem;
  --input-font-size: 0.875rem;
  --input-font-weight: 400;
  --icon-px: 0.65rem;
}

.textFieldContainer {
  display: grid;
}

.textFieldContainer .textFieldRow {
  display: flex;
  position: relative;
}

/* Input */
.textFieldContainer .input {
  width: 100%;
  outline: none;
  box-shadow: none;
  font-style: normal;
  line-height: normal;
  transition: border 0.15s;
  height: var(--input-height, 2.5rem);
  padding: var(--input-padding, 0.75rem 1rem);
  border-radius: var(--input-border-radius, 0.375rem);
  border: var(--input-default-state-border);
  background: var(--pure-white, #fff);
  color: var(--black-100, #111);
  font-size: var(--input-font-size, 0.875rem);
  font-weight: var(--input-font-weight, 400);
}

/* Placeholder */
.textFieldContainer .input::placeholder {
  color: var(--grey-400, #a3a3a3);
  font-size: 0.875rem;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
}

/* prefix-icon */
.textFieldContainer .textFieldRow .prefix {
  position: absolute;
  left: 0;
  height: 100%;
  padding: 0rem var(--icon-px);
  display: flex;
  align-items: center;
}

.textFieldContainer .input.hasPrefix {
  padding-left: calc(2 * var(--icon-px) + 1rem);
}

/* suffix-icon */
.textFieldContainer .textFieldRow .suffix {
  display: flex;
  align-items: center;
  height: var(--input-height, 2.5rem);
  padding: 0 var(--icon-px);
  border-right: var(--input-default-state-border);
  border-top: var(--input-default-state-border);
  border-bottom: var(--input-default-state-border);
  background: var(--pure-white, #fff);
  border-radius: 0 0.375rem 0.375rem 0rem;
  transition: border 0.15s;
}

.textFieldContainer .textFieldRow .suffix.hasSuffixOnClick {
  cursor: pointer;
}

/* Focus */
.textFieldContainer .input:focus {
  border: var(--input-focus-state-border);
}

.textFieldContainer .input:focus + .suffix {
  border-right: var(--input-focus-state-border);
  border-top: var(--input-focus-state-border);
  border-bottom: var(--input-focus-state-border);
}

.textFieldContainer .input.removeRightBorder {
  border-right: none;
  border-top-right-radius: 0;
  padding-right: 0;
  border-bottom-right-radius: 0;
}

/* Disabled */
.textFieldContainer .input:disabled {
  background: var(--grey-100, #f3f4f6);
  color: var(--grey-400, #a3a3a3);
}

.textFieldContainer .input:disabled + .suffix {
  background: var(--grey-100, #f3f4f6);
}
