.subTitle {
  color: #4c4c4c;
  font-size: 0.938rem;
  margin-bottom: 1.875rem;
  text-align: center;
}

.textCenter {
  text-align: center;
}

.fields {
  width: 100%;
  display: grid;
  gap: calc(2rem - var(--error-height));
}

.fields .loginBottomSection {
  display: flex;
  justify-content: space-between;
}
